
:root {
    --slate-50: #f8fafc;
    --slate-950: #0f172a;
    --orange-500: #f97316;
    --orange-950: #7c2d12;
    --orange-600: #ea580c;
    --slate-600: #475569;
    --slate-700: #334155;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page-screen {
    width: 100vw;
    max-height: 100vh;
    background-color: rgb(231, 231, 231);
}

.navigation-bar {
    background-color: #e4e4e4;
    color: black;
    padding: 10px 20px;
    position: relative;

}

.burger-menu {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-links {
    /*display: none; */
    flex-direction: column;
    position: absolute;
    top: 50px; /* Adjust this to the height of your navbar */
    left: 0;
    /*right: 0;*/
    width: 100%;
    background-color: transparent;
    padding: 10px;
}

.nav-links.show {
    display: flex; /* Show the nav links when toggled */
}

.nav-links li {
    margin: 10px 0;
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.nav-links a:hover {
    text-decoration: underline;
}

.statistic-cards {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.statistic-card {
    margin: 1rem;
    border-radius: 20px;
    width: 150px;
    background: #cad6e1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
}

.statistic-card img {
    width: 40px;
    height: auto;
    margin-bottom: 8px;
}

h3 {
    font-size: 1rem;
    color: #333;
}

.dashboard-middle-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.top-tracks,
.notifications-section {
    width: 45vw;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.top-tracks h2,
.notifications-section h2,
.log-section h2 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.top-tracks ul,
.notifications-section ul,
.log-section ul {
    list-style-type: none;
}

.top-tracks li,
.notifications-section li,
.log-section li {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #555;
}

.log-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.view-all {
    border: none;
    background: transparent;
    color: #0044cc;
    font-weight: bold;
    cursor: pointer;
}

.btn {
    width: 300px;
    background-color: var(--slate-50);
    color: var(--slate-950);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--slate-950);
}

.btn:hover,
.btn:focus,
.btn:active {
    outline-offset: 2px;
    outline: 2px solid var(--slate-950);
}

.btn-orange {
    background-color: var(--orange-500);
    color: var(--orange-950);
    border-bottom: 1px solid var(--orange-500);
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    outline-offset: 2px;
    outline: 2px solid var(--orange-600);
}

.center {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    color: #ffffff;
    transition: visibility 0.3s, opacity 0.3s, backdrop-filter 0.3s;
    backdrop-filter: blur(4px);
    user-select: none;
    pointer-events: none;
}

.block-dom {
    width: calc(100% - 350px);
    height: 100%;
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--slate-500);
}

.sidebar-content {
    width: 800px;
    opacity: 0;
    position: absolute;
    padding: 5px 20px;
    top: 0;
    bottom: 0;
    right: -350px;
    background-color: transparent;
    color: #ffffff;
    outline: 4px solid #334155;
    border-radius: 4px 0 0 4px;
    overflow-y: scroll;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar-content::-webkit-scrollbar {
    width: 10px;
}

.sidebar-content::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px var(--slate-600);
}

.sidebar-content::-webkit-scrollbar-thumb {
    background-color: var(--slate-400);
}

.sidebar.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.sidebar.show .sidebar-content {
    opacity: 1;
    right: 0;
}

.close-sidebar {
    width: 100%;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background-color: var(--red-400);
    color: var(--red-950);
}

@media (max-width: 768px) {
    .dashboard-middle-section {
        flex-direction: column;
        align-items: center;
    }

    .top-tracks,
    .notifications-section {
        width: 90vw;
    }

    .log-section {
        width: 90vw;
    }

    .statistic-cards {
        flex-direction: column;
    }
}

.profile-image {
    width: 25px;
    height: 25px;
    /*position: absolute;*/
    /*top: 8px;*/
    /*margin-right: 20px;*/
}


.drop-container {
    position: absolute;
    right: 0;
    top: 8px;
}

.sidebar-content {
    display: flex;
}
